// page-transition
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.2s;
}
.slide-left-enter-from {
  opacity: 0;
  transform: translate(50px, 0);
}
.slide-left-leave-to {
  opacity: 0;
  transform: translate(-50px, 0);
}
.slide-right-enter-from {
  opacity: 0;
  transform: translate(-50px, 0);
}
.slide-right-leave-to {
  opacity: 0;
  transform: translate(50px, 0);
}
// end page-transition

// menu
.menu-bgw-box{
  transform: translate3d(100%, 0, 0);
  transition: all 500ms ease-in-out;
  &.active {
    transform: translate3d(0, 0, 0);
    transition: all 500ms ease-in-out;
  }
}
.menu-contant-box{
  transform: translate3d(100%, 0, 0);
  transition: all 350ms ease-in-out;
  &.active {
    transform: translate3d(0, 0, 0);
    transition: all 350ms 200ms cubic-bezier(0.32, -0.05, 0.44, 1.41);
  }
}
.menu-link {
  transform: translateX(0px);
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: translateX(20px);
    transition: all 0.2s ease-in-out;
  }
}
.menu-community{
  a{
    transform: translateY(0px);
    transition: all 0.2s ease-in-out;
    &:hover {
    transform: translateY(-5px);
    transition: all 0.2s ease-in-out;
    }
  }
}
// end menu