// page-transition
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.2s;
}
.slide-left-enter-from {
  opacity: 0;
  transform: translate(50px, 0);
}
.slide-left-leave-to {
  opacity: 0;
  transform: translate(-50px, 0);
}
.slide-right-enter-from {
  opacity: 0;
  transform: translate(-50px, 0);
}
.slide-right-leave-to {
  opacity: 0;
  transform: translate(50px, 0);
}
// end page-transition

// fade-out
.fade-out-enter-active,
.fade-out-leave-active {
  transition: opacity 0.5s ease-in-out;
}
.fade-out-enter-from {
  opacity: 1;
}
.fade-out-leave-to {
  opacity: 0;
}
// end fade-out