/* Custom CSS */
body, html {
  font-family: "Noto Sans TC", sans-serif, "微軟正黑體";
}

h1, h2, h3, h4, h5, h6, p {
  letter-spacing: 2px;
  line-height: 2;
  font-weight: normal;
}

a {
  text-decoration: none;
}
.container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.font-en {
  font-family: "Lobster", cursive;
}

.page-lock {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

/* day/night color */
.bg-day {
  background: $day;
}

.bg-night {
  background: $night;
}
/* end day/night color */

/* tooltip */
[data-tooltip-group] {
  [data-tooltip] {
    display: none;
  }

  &:hover {
    [data-tooltip] {
      display: block;
    }
  }
}
/* end tooltip */
