// 960px後 橫式手機
.mH-menu-contant-box {
  width: 100%;

  .menu-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      height: 40%;
      width: 84%;
      flex-direction: row;
      padding: 0;
      align-items: center;
      flex-wrap: wrap;
      justify-content: flex-start;

      .menu-pages {
        width: 20%;

        a {
          h5 {
            span {
              font-size: 32px;
            }
          }
        }
      }

      .menu-line {
        display: none;
      }
    }
  }

  .menu-bgw-box {
    display: none;
  }
}

.H-home {
  .m-icon-swipe {
    bottom: -1rem;
  }

  .home-ZebraRoad {
    padding-bottom: 14rem;
  }
}

@media only screen and (max-width: 812px) {
  .mH-menu-contant-box {
    .menu-text {
      ul {
        .menu-pages {
          width: 33.3%;
        }
      }
    }

    .menu-img-down {
      ul {
        .menu-hitballoon {
          width: 4.6rem;
          bottom: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 568px) {
  .mH-menu-contant-box {
    .menu-text {
      ul {
        height: 60%;
        width: 80%;
      }

      .menu-pages {
        width: 20%;

        a {
          h5 {
            font-size: 16px;

            span {
              font-size: 28px;
            }
          }
        }
      }

      .menu-community {
        h5 {
          font-size: 16px;
        }
      }
    }

    .menu-img-down {
      ul {
        .menu-hitballoon {
          display: none;
        }
      }
    }
  }
}

// 電腦直式橫式;手機直式
@media only screen and (min-width: 1921px) {
  .wrapper {
    max-width: 1440px;
  }

  //loading
  .loading-box {
    max-width: 700px;
  }

  .loading-text-box {
    margin-top: 2rem;

    svg {
      width: 12rem;
    }
  }

  .loading-my {
    left: -90px;
    width: 90px;
  }

  //header
  .logo-wrapper, .menu-icon-wrapper {
    a {
      width: 240px;
      height: 120px;

      img {
        padding: 0px 18px;
      }
    }
  }

  .header-box {
    height: 8rem;
  }

  .menu-icon-wrapper {
    .menu-icon {
      width: 90px;
      height: 90px;

      img {
        padding: 28px 18px;
      }
    }
  }

  //menu
  .menu-contant-box {
    width: 20%;

    .menu-text {
      ul {
        li {
          padding-bottom: 2.8rem;

          h5 {
            font-size: $h3;

            .font-en {
              font-size: $h1;
            }
          }
        }

        .menu-pages {
          a {
            &.fa-arrow-circle-right {
              &:after {
                font-size: $h3;
              }
            }
          }
        }
      }
    }

    .menu-img-down {
      ul {
        .menu-hitballoon {
          width: 8rem;
        }
      }
    }
  }

  //arrow
  .arrow-pages-left, .arrow-pages-right {
    a {
      svg {
        width: 55px;
      }
    }
  }

  // title
  .title-box {
    .title-text {
      max-width: 70%;

      h4 {
        font-size: $h3;
      }
    }

    .title-img {
      max-width: 10rem;
      width: 10rem;
    }

    .title-line-dashed {
      border-top: 2px dashed #ffffff;
    }
  }

  //home
  .home-day-box, .home-night-box, .home-city-box, .about-city-box {
    .home-day-sun, .home-night-moon-box, .home-day-cloud, .home-night-star {
      &.home-day-cloud {
        img {
          width: 80%;
        }
      }
    }
  }

  .home-city-box, .about-city-box, .skills-sea-box, .works-mountain-box, .contact-sea-box, .home-day-box, .home-night-box, .home-city-box, .about-city-box {
    height: 500px;

    &.contact-sea-box {
      height: 300px;
    }

    .home-bluecity, .home-city, .about-city, .about-cloud, .about-bcity, .skills-seabed, .skills-seasand, .skills-coral, .works-mountain, .contact-wave, .m-about-city, .home-day-sun, .home-night-moon-box, .home-day-cloud, .home-night-star {
      width: 100%;
      left: calc(50% - 50%);

      &.contact-wave {
        width: 1440px;
        left: calc(50% - 720px);
      }
    }

    &.home-day-box, .home-night-box, .home-city-box, .about-city-box {
      height: 520px;
    }
  }

  .contact-air-box .home-day-box .home-day-cloud, .contact-air-box .home-day-box .home-night-star, .contact-air-box .home-night-box .home-day-cloud, .contact-air-box .home-night-box .home-night-star {
    width: 100%;
    left: calc(50% - 50%);
  }

  .big-title-box {
    img {
      max-width: 16%;
    }
  }

  .home-day-box, .home-night-box, .home-city-box, .about-city-box {
    .home-day-sun, .home-night-moon {
      max-width: 6%;
    }
  }

  .home-my-box {
    top: calc(50% - 22rem);
    width: 13.2rem;
  }

  .home-road-box, .about-road-box, .about-seasand-bg, .works-mountain-bg {
    .home-ZebraRoad {
      width: 520px;
      height: 200px;
    }
  }

  .home-night-moon-box {
    max-width: 90%;
    width: 100%;
  }

  .home-day-box, .home-night-box, .home-city-box, .about-city-box {
    .home-day-sun, .home-night-moon {
      &.home-night-moon {
        max-width: 8rem;
        width: 8rem;
      }
    }

    .home-moon-light {
      right: -10px;
      top: 100px;
    }
  }

  .home-day-car, .home-day-car2, .home-night-car, .home-night-car2 {
    &.home-night-car {
      ul {
        li {
          .home-car-up01 {
            max-width: 10rem;
          }

          .home-scooter-up02 {
            max-width: 6rem;
          }

          .home-car-up03 {
            max-width: 10rem;
          }

          .home-car-up04 {
            max-width: 12rem;
          }
        }
      }
    }

    &.home-night-car2 {
      top: -35px;

      ul {
        li {
          .home-car-down01 {
            max-width: 13rem;
          }

          .home-car-down02 {
            max-width: 15rem;
          }

          .home-scooter-down03 {
            max-width: 7rem;
          }
        }
      }
    }

    &.home-day-car {
      ul {
        li {
          .home-car-up01 {
            max-width: 7.8rem;
          }

          .home-scooter-up02 {
            max-width: 5rem;
          }

          .home-car-up03 {
            max-width: 7.8rem;
          }

          .home-car-up04 {
            max-width: 9rem;
          }
        }
      }
    }

    &.home-day-car2 {
      top: -35px;

      ul {
        li {
          .home-car-down01 {
            max-width: 11rem;
          }

          .home-car-down02 {
            max-width: 13rem;
          }

          .home-scooter-down03 {
            max-width: 6.6rem;
          }
        }
      }
    }
  }

  //about
  .about-contant-box {
    .about-img {
      width: 22rem;
    }
  }

  .about-contant-wrapper, .skills-contant-wrapper, .works-title-wrapper {
    padding: 3rem 0;
  }

  .about-contant-box {
    margin: 2.4rem 0 0 0;

    .about-text {
      h4 {
        padding-bottom: 1rem;
        font-size: $h3;
      }
    }
  }

  .about-my-box, .about-people-box {
    .about-my-img {
      width: 14rem;

      img {
        max-width: 8rem;
      }
    }
  }

  //skill
  .skills-sea-box {
    margin-top: 4rem;

    .skills-my-box {
      top: 8rem;

      .skills-my-img {
        width: 14rem;
      }
    }

    .skills-seabed {
      bottom: 11rem;
    }
  }

  .skills-design-box, .skills-code-box {
    .skills-design-img, .skills-code-img {
      .skills-bubble {
        width: 18rem;
      }

      .design-svg, .code-svg {
        img {
          max-width: 9rem;
        }

        svg {
          max-width: 10rem;
        }

        .text-box {
          font-size: $mobile-l-p;

          .text {
            font-size: $mobile-l-p;
          }
        }
      }
    }

    .skills-design-text, .skills-code-text {
      h4 {
        font-size: $h3;
      }
    }
  }

  .skills-code-box {
    padding-top: 8rem;
  }

  //works
  .tab-wrapper {
    max-width: 1440px;
  }

  .works-mountain-wrapper {
    margin-top: 0;

    .works-mountain-box {
      .works-my-box {
        .works-my-img {
          width: 7.2rem;
        }
      }
    }
  }

  .works-animal-box, .works-b-tree, .works-tree {
    width: 1440px;
    left: calc(50% - 720px);
  }

  .works-animal-box, .works-b-tree, .works-tree {
    &.works-b-tree {
      bottom: 3rem;
    }
  }

  .web-text {
    h4 {
      font-size: $h3;
    }
  }

  .worksPages-left-img, .worksPages-right-img {
    .worksPages-day, .worksPages-night {
      width: 16rem;
    }
  }

  .worksPages-nav {
    ul {
      li {
        font-size: $h5;
      }
    }
  }

  .worksPages-title-wrapper {
    padding: 3rem 0 0 0;
  }

  .worksPages-contant {
    padding: 4rem 4rem;
  }

  .worksPages-text-wrapper {
    .worksPages-text-left, .worksPages-text-right {
      &.worksPages-text-left {
        .worksPages-stitle {
          h4 {
            font-size: $h3;
          }

          a {
            font-size: $h5;
          }
        }
      }
    }
  }

  .worksPages-animal {
    .worksPages-animal-img {
      width: 22rem;
    }
  }

  .worksPages-copyright, .contact-copyright {
    p {
      font-size: $mobile-l-p;
    }
  }

  .worksPages-mountain-wrapper {
    margin-top: -8rem;
  }

  .works-animal-box, .works-b-tree, .works-tree {
    &.worksPages-b-tree {
      bottom: 0;

      &:nth-of-type(1) {
        bottom: 0;
      }
    }
  }

  .scroll-top {
    a {
      svg {
        width: 2.8rem;
      }
    }
  }

  //contact
  .contact-FishsIslands-box {
    .contact-islands-box {
      .contact-islands {
        width: 55rem;
        height: 22rem;

        .contact-islands-about, .contact-islands-work {
          &.contact-islands-work {
            margin-top: -60px;
          }
        }
      }
    }

    .contact-fishs-box, .contact-TurtleMedusa-box {
      ul {
        li {
          width: 2rem;

          &:nth-of-type(2) {
            width: 4.8rem;
          }
        }
      }

      &.contact-TurtleMedusa-box {
        ul {
          li {
            width: 4rem;

            &:nth-of-type(2) {
              width: 4.8rem;
            }
          }
        }
      }
    }
  }

  .contact-contant-box {
    .contant-box {
      padding: 40px;
    }
  }

  .contact-air-box {
    margin: 4rem 0 5rem 0;
  }

  .contact-sea-box {
    .contact-wave {
      .contact-wave-left, .contact-wave-right {
        max-width: 24rem;
        width: 24rem;
      }
    }
  }

  .contact-contant-wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }

  .contact-contant-box {
    max-width: 100%;

    .contant-box {
      .my-contact-box {
        a {
          font-size: $h4;
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  /* home */
  .home-city-box {
    height: 300px;

    .home-bluecity, .home-city, .about-city, .about-cloud, .about-bcity, .skills-seabed, .skills-seasand, .skills-coral, .works-mountain, .works-b-tree, .contact-wave {
      width: 1440px;
      height: auto;
      position: absolute;
      left: calc(50% - 720px);

      img {
        width: 100%;
      }
    }
  }

  .home-air-wrapper {
    margin-bottom: 0px;
  }

  .big-title-box {
    img {
      max-width: 240px;
    }
  }

  .home-my-box {
    width: 8rem;
    top: calc(50% - 12.4rem);
  }

  .home-road-box {
    .home-ZebraRoad {
      width: 300px;
    }
  }

  .home-day-car, .home-day-car2, .home-night-car, .home-night-car2 {
    &.home-day-car {
      ul {
        li {
          .home-car-up01 {
            max-width: 5.4rem;
          }

          .home-scooter-up02 {
            max-width: 2.4rem;
          }

          .home-car-up03 {
            max-width: 4.6rem;
          }

          .home-car-up04 {
            max-width: 5.4rem;
          }
        }
      }
    }

    &.home-day-car2 {
      ul {
        li {
          .home-car-down01 {
            max-width: 5.6rem;
          }

          .home-car-down02 {
            max-width: 8rem;
          }

          .home-scooter-down03 {
            max-width: 3rem;
          }
        }
      }
    }

    &.home-night-car {
      ul {
        li {
          .home-car-up01 {
            max-width: 7.4rem;
          }

          .home-scooter-up02 {
            max-width: 3.8rem;
          }

          .home-car-up03 {
            max-width: 6.2rem;
          }

          .home-car-up04 {
            max-width: 7.4rem;
          }
        }
      }
    }

    &.home-night-car2 {
      ul {
        li {
          .home-car-down01 {
            max-width: 8.6rem;
          }

          .home-car-down02 {
            max-width: 10rem;
          }

          .home-scooter-down03 {
            max-width: 4.2rem;
          }
        }
      }
    }
  }

  /* menu */
  .menu-contant-box {
    .menu-text {
      ul {
        li {
          h5 {
            font-size: $h6;

            span {
              font-size: $mobile-l-title;
            }
          }
        }
      }
    }

    .fb-icon, .ig-icon {
      a {
        svg {
          width: 3.4rem;
        }
      }
    }
  }

  /* about */
  .about-city-box {
    height: 240px;

    .about-city, .about-cloud, .about-bcity {
      width: 1440px;
      left: calc(50% - 720px);
    }
  }

  .about-contant-box {
    margin: 1rem 6rem 0 6rem;

    .about-img {
      width: 16rem;
    }

    .about-text {
      p {
        font-size: 16px;
      }

      h4 {
        font-size: $h6;
      }
    }
  }

  .title-box {
    .title-text {
      h4 {
        font-size: $h5;
      }
    }

    .title-img {
      max-width: 7.6rem;
      width: 7.6rem;

      &.title-img-c {
        max-width: 10rem;
        width: 10rem;
      }
    }
  }

  .about-my-box {
    .about-my-img {
      width: 8.8rem;
    }
  }

  .about-people-box {
    left: 0px;
    top: -60px;

    img {
      width: 2rem;
    }
  }

  .about-road-box {
    padding-top: 1.4rem;
  }

  .about-AirCamera-box {
    right: 4rem;

    .about-AirCamera-img {
      width: 14rem;
    }
  }

  /* skills */
  .skills-sea-box {
    height: 340px;

    .skills-seabed, .skills-seasand, .skills-coral {
      width: 1440px;
      left: calc(50% - 720px);

      &.skills-coral {
        img {
          width: 10rem;
        }
      }

      &.skills-seasand {
        bottom: 0;
      }

      &.skills-seabed {
        bottom: 6rem;
      }
    }

    .skills-my-box {
      top: 4rem;

      .skills-my-img {
        width: 8.8rem;
      }
    }
  }

  .skills-contant-box {
    margin-top: 1rem;
    padding: 0 6rem;
  }

  .skills-design-box, .skills-code-box {
    .skills-design-text, .skills-code-text {
      h4 {
        font-size: $h5;
      }

      .design-text, .code-text {
        li {
          font-size: 16px;
        }
      }
    }

    .skills-design-img, .skills-code-img {
      .design-svg, .code-svg {
        img {
          max-width: 6rem;
        }

        svg {
          max-width: 7rem;
        }
      }

      .skills-bubble {
        width: 12.6rem;
      }
    }
  }

  .skills-tortoise-box {
    img {
      width: 6.8rem;
    }
  }

  /* work */
  .works-mountain-wrapper {
    .works-mountain-box {
      .works-my-box {
        .works-my-img {
          width: 4.8rem;
        }
      }
    }
  }

  .web-text {
    p {
      font-size: 16px;
    }
  }

  .works-wrapper {
    .works-box {
      &.col3 {
        margin-bottom: calc(1.5rem * 3 / 2);
      }
    }
  }

  .works-bird-box {
    width: 1.4rem;
    bottom: 2.2rem;
  }

  .tabs {
    margin-bottom: 2.4rem;
  }

  .worksPages-text-wrapper {
    padding: 2.8rem 2rem 6rem 2rem;
  }

  /* workPages */
  .worksPages-nav {
    ul {
      li {
        font-size: $mobile-l-p;

        a {
          font-size: $mobile-l-p;
        }
      }
    }
  }

  .worksPages-text-wrapper {
    .worksPages-text-left, .worksPages-text-right {
      &.worksPages-text-right {
        p {
          font-size: $mobile-l-p;
        }
      }

      &.worksPages-text-left {
        .worksPages-stitle {
          h4 {
            font-size: $h5;
          }
        }

        .worksPages-myskills {
          h5 {
            font-size: $h6;
          }

          ul {
            li {
              font-size: $mobile-l-p;
            }
          }
        }
      }
    }
  }

  .works-animal-box, .works-b-tree, .works-tree {
    &.worksPages-b-tree {
      width: 1600px;
      left: calc(50% - 800px);
    }
  }

  /* contact */
  .contact-air-box {
    .home-day-box, .home-night-box {
      height: 280px;

      .home-day-cloud, .home-night-star {
        width: 1440px;
        height: auto;
        position: absolute;
        left: calc(50% - 720px);
        top: 0;
      }
    }
  }

  .contact-contant-box {
    .contant-box {
      padding: 1rem;

      .my-contact-box {
        a {
          font-size: $mobile-l-p;
        }
      }
    }

    .contact-myhitballoon {
      max-width: 5.8rem;
    }

    .contact-myhitballoon-line {
      max-width: 8rem;
    }
  }

  .contact-hitballoon-left, .contact-hitballoon-right {
    &.contact-hitballoon-left {
      width: 4rem;
    }

    &.contact-hitballoon-right {
      width: 2.8rem;
    }
  }

  .contact-FishsIslands-box {
    .contact-islands-box {
      .contact-islands {
        width: 30rem;
        height: 10rem;

        .contact-islands-about, .contact-islands-work {
          &.contact-islands-work {
            margin-top: -30px;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .contact-fishs-box, .contact-TurtleMedusa-box {
    &.contact-TurtleMedusa-box {
      ul {
        li {
          &:nth-of-type(2) {
            img {
              width: 3.6rem;
            }
          }
        }
      }
    }
  }

  .contact-contant-box {
    .fb-icon, .ig-icon {
      a {
        svg {
          width: 2.8rem;
        }
      }
    }
  }

  .contact-sea-box {
    .contact-wave {
      width: 1000px;
      left: calc(50% - 500px);

      .contact-wave-right, .contact-wave-left {
        max-width: 15rem;
        width: 15rem;
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
  .title-box {
    .title-text {
      h4 {
        font-weight: bold;
      }
    }
  }

  /* home */
  .home-air-wrapper {
    margin: 2rem 0;
  }

  .home-road-box {
    .home-ZebraRoad {
      width: 240px;
    }
  }

  /* about */
  .about-contant-box {
    margin: 4rem 6rem;

    .about-img {
      width: 25%;
    }

    .about-text {
      padding-left: 2.8rem;
      max-width: 70%;
    }
  }

  .about-city-box {
    .about-bcity {
      width: 1100px;
      left: calc(50% - 550px);
    }
  }

  .about-my-box {
    .about-my-img {
      width: 7.8rem;
    }
  }

  .about-people-box {
    left: 120px;
  }

  /* skills */
  .skills-contant-box {
    margin: 6rem 0;
  }

  .skills-code-box {
    padding-top: 6rem;
  }

  .skills-sea-box {
    height: 220px;

    .skills-my-box {
      top: 0;

      .skills-my-img {
        width: 6.8rem;
      }
    }

    .skills-seabed, .skills-seasand, .skills-coral {
      &.skills-coral {
        width: 100%;
        left: 0;
        justify-content: flex-end;

        img {
          &:nth-of-type(1) {
            display: none;
          }
        }
      }
    }
  }

  .skills-fishs-wrapper {
    img {
      width: 15rem;
    }
  }

  .skills-tortoise-box {
    img {
      width: 5.2rem;
    }
  }

  .code-svg {
    p {
      font-size: 12px;
    }
  }

  /* works */
  .works-animal-box, .works-b-tree, .works-tree {
    width: 1000px;
    left: calc(50% - 500px);

    &.works-b-tree {
      bottom: 2rem;
    }
  }

  .worksPages-mountain-wrapper {
    margin-top: -12rem;

    .works-mountain-box {
      height: 260px;

      .works-my-box {
        .works-my-img {
          width: 4.4rem;
        }
      }
    }
  }

  .web-text {
    h4 {
      font-size: $h5;
    }
  }

  .tabs {
    a {
      font-size: $h6;
      padding: 0.3rem 1rem;
    }
  }

  .tab-wrapper, .wrapper {
    max-width: 1024px;
  }

  .worksPages-contant {
    padding: 4rem 2rem;
  }

  .worksPages-animal {
    left: 1.6rem;
  }

  .worksPages-left-img, .worksPages-right-img {
    .worksPages-day, .worksPages-night {
      &.worksPages-night {
        width: 11rem;
      }
    }
  }

  .works-animal-box, .works-b-tree, .works-tree {
    &.worksPages-b-tree {
      bottom: 0;

      &:nth-of-type(1) {
        bottom: -1rem;
      }
    }
  }

  .worksPages-bird-box {
    padding: 0rem 1.6rem;
  }

  /* contact */
  .contact-air-box {
    padding: 2rem 0 6rem 0;
  }

  .contact-contant-container {
    padding-bottom: 0;
  }

  .contact-FishsIslands-box {
    .contact-islands-box {
      .contact-islands {
        width: 38rem;
        height: 14rem;

        .contact-islands-about, .contact-islands-work {
          &.contact-islands-work {
            margin-top: -45px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  /* skills */
  .skills-design-box, .skills-code-box {
    .skills-design-img, .skills-code-img {
      .skills-bubble {
        width: 11rem;
      }
    }
  }

  /* works */
  .works-animal-box, .works-b-tree, .works-tree {
    &.worksPages-b-tree {
      display: none;
    }
  }

  .worksPages-left-img, .worksPages-right-img {
    .worksPages-day, .worksPages-night {
      &.worksPages-day {
        width: 10rem;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .tab-wrapper, .wrapper {
    &.wrapper {
      padding: 0 4rem;
    }

    &.tab-wrapper {
      padding: 0 4rem;
    }
  }

  .skills-contant-box {
    display: flex;
    flex-direction: column;
  }

  .skills-design-box, .skills-code-box {
    width: 100%;
    justify-content: center;

    &.skills-design-box {
      padding-right: 15%;
    }

    &.skills-code-box {
      padding-left: 15%;
      padding-top: 2rem;
    }
  }

  .about-contant-box {
    .about-img {
      width: 30%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .loading-box {
    top: calc(50% - 120px);
  }

  .tab-wrapper, .wrapper {
    &.wrapper {
      padding: 0 2rem;
    }

    &.tab-wrapper {
      padding: 0 2rem;
    }
  }

  /* loading */
  .loading-box {
    max-width: 375px;

    &#loading-map {
      margin-top: 65px;

      svg {
        width: 30px;
      }
    }
  }

  .loading-my {
    position: relative;
    left: -65px;
    width: 65px;
    bottom: -5px;
  }

  .loading-text-box {
    svg {
      width: 7.5rem;
    }
  }

  /* jquery.pagepiling */
  #pp-nav.nav-position {
    left: 0px;
    right: 0px !important;
    display: block;
    max-width: 180px;
    margin: auto;
  }

  /* home */
  .home-day-car, .home-day-car2, .home-night-car, .home-night-car2 {
    &.home-day-car {
      ul {
        li {
          .home-car-up01 {
            max-width: 4.6rem;
          }

          .home-scooter-up02 {
            max-width: 2rem;
          }

          .home-car-up03 {
            max-width: 4.6rem;
          }

          .home-car-up04 {
            max-width: 5rem;
          }
        }
      }
    }

    &.home-day-car2 {
      top: -35px;

      ul {
        li {
          .home-car-down01 {
            max-width: 4.8rem;
          }

          .home-car-down02 {
            max-width: 6rem;
          }

          .home-scooter-down03 {
            max-width: 3.2rem;
          }
        }
      }
    }

    &.home-night-car {
      ul {
        li {
          .home-car-up01 {
            max-width: 6.8rem;
          }

          .home-scooter-up02 {
            max-width: 3.4rem;
          }

          .home-car-up03 {
            max-width: 6.8rem;
          }

          .home-car-up04 {
            max-width: 7rem;
          }
        }
      }
    }

    &.home-night-car2 {
      top: -35px;

      ul {
        li {
          .home-car-down01 {
            max-width: 8rem;
          }

          .home-car-down02 {
            max-width: 10rem;
          }

          .home-scooter-down03 {
            max-width: 4.2rem;
          }
        }
      }
    }
  }

  .home-air-wrapper {
    margin: 2rem 0;
  }

  .home-day-box, .home-night-box, .home-city-box, .about-city-box {
    .home-day-sun, .home-night-moon-box, .home-day-cloud, .home-night-star {
      width: 1000px;
      left: calc(50% - 500px);
    }
  }

  .home-my-box {
    left: 200px;
  }

  .m-icon-swipe {
    bottom: 4rem;
  }

  .m-icon-swipe {
    display: block;
  }

  /* about */
  .about-contant-box {
    flex-direction: column;
    margin: 2rem 6rem 0 6rem;

    .about-text {
      padding-left: 0;
      max-width: 100%;
    }

    .about-img {
      width: 14.2rem;
      margin-bottom: 2rem;
    }
  }

  .about-AirCamera-box {
    top: 2rem;
  }

  .about-road-box {
    padding-bottom: 6rem;
  }

  .about-city-up {
    display: none;
  }

  .about-city-box {
    .m-about-city {
      display: block;
      width: 768px;
      left: calc(50% - 384px);
      bottom: -4px;
    }
  }

  /* skills */
  .skills-contant-box {
    margin: 4rem 0;
  }

  .skills-design-box, .skills-code-box {
    &.skills-code-box {
      padding-top: 3.2rem;
    }
  }

  .skills-sea-box {
    .skills-seabed, .skills-seasand, .skills-coral {
      &.skills-seasand {
        bottom: -10px;
      }

      &.skills-seabed {
        bottom: 6rem;
      }
    }
  }

  .skills-contant-wrapper {
    margin-bottom: 4rem;
  }

  /* works */
  .works-wrapper {
    .works-box {
      &.col3 {
        &.col2 {
          width: calc(100%/2 - 1rem);
          margin-left: calc(1rem * 2 / 1);
          margin-bottom: calc(1.4rem * 2 / 1);

          &:nth-child(2n+1) {
            margin-left: 0;
          }
        }
      }
    }
  }

  .tab-content {
    margin-bottom: 6rem;
  }

  .worksPages-text-wrapper {
    .worksPages-text-left, .worksPages-text-right {
      width: 100%;

      &.worksPages-text-left {
        .worksPages-stitle {
          margin-bottom: 1.2rem;
        }
      }

      &.worksPages-text-right {
        margin: 2rem 0;
      }
    }
  }

  .worksPages-left-img, .worksPages-right-img {
    .worksPages-day, .worksPages-night {
      &.worksPages-day {
        width: 8rem;
      }

      &.worksPages-night {
        width: 8rem;
      }
    }
  }

  .worksPages-contant {
    padding: 2.4rem 2rem;
  }

  .worksPages-text-wrapper {
    padding: 1.5rem 1rem 6rem 1rem;
  }

  /* contact */
  .contact-air-box {
    padding: 0;
  }

  .contact-contant-container {
    padding-bottom: 0px;
  }

  .contact-contant-wrapper {
    padding: 2rem 0;
  }

  .contact-contant-box {
    .contant-box {
      padding: 2rem;
    }
  }

  .contact-copyright {
    padding: 1rem 0rem 6rem 0;
  }

  .contact-hitballoon-left, .contact-hitballoon-right {
    display: none;
  }

  .contact-FishsIslands-box {
    .contact-islands-box {
      width: 100%;

      .contact-islands {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        height: 12rem;

        .contact-islands-about, .contact-islands-work {
          margin-top: -10px;

          &.contact-islands-work {
            margin-top: -35px;
          }
        }
      }
    }

    .contact-fishs-box, .contact-TurtleMedusa-box {
      display: none;
    }
  }

  .m-contact-FishsTurtleMedusa-box {
    display: block;
    width: 100%;
    bottom: 0;
  }

  .contact-sea-wrapper {
    padding-top: 4rem;

    .contact-sea-box {
      height: auto;
      width: 70%;
      margin: auto;
    }
  }

  /* 關掉左右箭頭 */
  .arrow-pages-left, .arrow-pages-right {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  /* header */
  .menu-icon-wrapper {
    .menu-icon {
      width: 48px;
      height: 48px;

      img {
        padding: 14px 10px;
      }
    }
  }

  .logo-wrapper, .menu-icon-wrapper {
    filter: drop-shadow(0px 4px 0px rgba(85, 150, 202, 0.8));
  }

  .logo-wrapper {
    a {
      width: 140px;
      height: 60px;
    }
  }

  /* menu */
  .menu-contant-box {
    .menu-text {
      ul {
        li {
          h5 {
            font-size: $mobile-l-p;

            span {
              font-size: $h3;
            }
          }
        }
      }
    }

    .menu-community {
      h5 {
        font-size: $h3;
      }
    }

    .menu-img-down {
      ul {
        .menu-hitballoon {
          width: 5.4rem;
        }
      }
    }
  }

  /* home */
  .home-day-car, .home-day-car2, .home-night-car, .home-night-car2 {
    &.home-day-car {
      ul {
        li {
          .home-car-up01 {
            max-width: 4.6rem;
          }

          .home-scooter-up02 {
            max-width: 2rem;
          }

          .home-car-up03 {
            max-width: 4.6rem;
          }

          .home-car-up04 {
            max-width: 5rem;
          }
        }
      }
    }

    &.home-day-car2 {
      top: -35px;

      ul {
        li {
          .home-car-down01 {
            max-width: 4.8rem;
          }

          .home-car-down02 {
            max-width: 6rem;
          }

          .home-scooter-down03 {
            max-width: 3.2rem;
          }
        }
      }
    }

    &.home-night-car {
      ul {
        li {
          .home-car-up01 {
            max-width: 5rem;
          }

          .home-scooter-up02 {
            max-width: 3.4rem;
          }

          .home-car-up03 {
            max-width: 5rem;
          }

          .home-car-up04 {
            max-width: 6rem;
          }
        }
      }
    }

    &.home-night-car2 {
      ul {
        li {
          .home-car-down01 {
            max-width: 5.2rem;
          }

          .home-car-down02 {
            max-width: 6.8rem;
          }

          .home-scooter-down03 {
            max-width: 3.8rem;
          }
        }
      }
    }
  }

  .home-city-box {
    height: 280px;

    .home-bluecity, .home-city, .about-city, .about-cloud, .about-bcity, .skills-seabed, .skills-seasand, .skills-coral, .works-mountain, .works-b-tree, .contact-wave {
      width: 1200px;
      left: calc(50% - 700px);
    }
  }

  .home-day-car, .home-day-car2, .home-night-car, .home-night-car2 {
    top: -80px;

    &.home-day-car2, &.home-night-car2 {
      top: -58px;
    }
  }

  .home-air-wrapper {
    margin: 0;
  }

  .big-title-box {
    img {
      max-width: 200px;
    }
  }

  .home-road-box, .about-road-box, .about-seasand-bg, .works-mountain-bg {
    .home-ZebraRoad {
      left: 20px;
    }
  }

  .home-my-box {
    width: 6.4rem;
    left: 20%;
    top: calc(50% - 10rem);
  }

  .home-day-box, .home-night-box {
    height: 200px;
  }

  /* about */
  .about-contant-box {
    margin: 2.4rem 2rem 0rem 2rem;

    .about-img {
      margin-bottom: 1.8rem;
    }

    .about-text {
      max-width: 80%;
    }
  }

  .about-AirCamera-box {
    top: 6.8rem;

    .about-AirCamera-img {
      width: 9.4rem;
    }
  }

  .about-people-box {
    top: -70px;
  }

  .title-box {
    .title-img {
      max-width: 7rem;
      width: 7rem;

      &.title-img-c {
        max-width: 9.4rem;
        width: 9.4rem;
      }
    }
  }

  /* skills */
  .skills-contant-box {
    margin: 2.4rem 0;
  }

  .skills-design-box, .skills-code-box {
    &.skills-design-box {
      padding-right: 0px;
    }

    &.skills-code-box {
      padding-left: 10%;
    }
  }

  .skills-sea-box {
    .skills-seabed, .skills-seasand, .skills-coral {
      width: 1200px;
      left: calc(50% - 500px);

      &.skills-seabed {
        bottom: 5.2rem;
      }
    }
  }

  .skills-fishs-wrapper {
    display: none;
  }

  .skills-tortoise-box {
    right: 4rem;
    max-width: 6.4rem;
  }

  /* works */
  .works-mountain-wrapper {
    .works-mountain-box {
      height: 220px;
    }
  }

  .works-wrapper {
    .works-box {
      &.col3 {
        &.col2 {
          margin-left: calc(0.6rem * 2 / 1);
          margin-bottom: calc(1.2rem * 2 / 1);
        }
      }
    }
  }

  .tab-wrapper {
    padding: 0 1rem;
  }

  .worksPages-bird-box {
    .worksPages-bird-img {
      width: 2rem;
    }
  }

  .worksPages-animal {
    .worksPages-animal-img {
      width: 14rem;
    }
  }

  .worksPages-left-img, .worksPages-right-img {
    .worksPages-day, .worksPages-night {
      &.worksPages-day {
        width: 6rem;
      }
    }
  }

  /* contact */
  .contact-contant-wrapper {
    padding: 0 0 1rem 0;
  }

  .contact-contant-box {
    .contant-box {
      padding: 1rem;
    }

    .contact-myhitballoon {
      max-width: 4.6rem;
    }
  }

  .my-community-box {
    display: none;
  }

  .contact-sea-wrapper {
    .contact-sea-box {
      width: 80%;
    }
  }

  .m-contact-FishsTurtleMedusa-box {
    padding: 0px;
  }
}

@media only screen and (max-width: 414px) {
  /* loading */
  .loading-box {
    max-width: 240px;

    &#loading-map {
      margin-top: 55px;

      svg {
        width: 25px;
      }
    }
  }

  .loading-my {
    position: relative;
    left: -55px;
    width: 55px;
    bottom: -5px;
  }

  .loading-text-box {
    svg {
      width: 6rem;
    }
  }

  /* header */
  .header-box {
    height: 4rem;
  }

  /* menu */
  .menu-bgw-box {
    display: none;
  }

  .menu-contant-box {
    width: 100%;

    .menu-text {
      ul {
        li {
          padding-bottom: 1rem;
        }
      }
    }
  }

  /* home */
  .home-city-box {
    height: 260px;
  }

  /* about */
  .about-contant-wrapper, .skills-contant-wrapper, .works-title-wrapper {
    padding-top: 2rem;
  }

  .about-contant-box {
    .about-text {
      max-width: 100%;

      h4 {
        br {
          display: none;
        }
      }
    }

    .about-img {
      margin-bottom: 1rem;
    }
  }

  .about-AirCamera-box {
    top: 8rem;
    right: 2rem;
  }

  .about-people-box {
    left: 160px;
    top: -60px;

    img {
      width: 1.8rem;
    }
  }

  .about-city-box {
    .m-about-city {
      display: block;
      width: 500px;
      left: calc(50% - 250px);
    }
  }

  /* skills */
  .skills-contant-box {
    padding: 0 1rem;
  }

  .skills-tortoise-box {
    top: 6.8rem;
    right: 1rem;
  }

  .skills-design-box, .skills-code-box {
    &.skills-code-box {
      padding-left: 0;
      padding-top: 2rem;
    }

    .skills-design-img, .skills-code-img {
      .skills-bubble {
        width: 9.4rem;
      }

      .design-svg, .code-svg {
        img {
          max-width: 4.8rem;
        }

        svg {
          max-width: 5.8rem;
        }

        .text-box {
          font-size: 12px;

          .text {
            font-size: 12px;
            letter-spacing: 0;
          }
        }
      }
    }
  }

  .skills-sea-box {
    .skills-seabed, .skills-seasand, .skills-coral {
      &.skills-coral {
        img {
          width: 7.4rem;
        }
      }
    }
  }

  /* works */
  .works-b-tree, .works-tree, .works-animal-box {
    display: none;
  }

  .works-wrapper {
    padding: 0 1.4rem;

    .works-box {
      &.col3 {
        &.col2 {
          &.col1 {
            width: calc(100%/1 - 0px);
            margin-left: calc(0px * 1 / 1);
            margin-bottom: 2rem;
          }
        }
      }
    }
  }

  .works-mountain-box {
    .home-bluecity, .home-city, .about-city, .about-cloud, .about-bcity, .skills-seabed, .skills-seasand, .skills-coral, .works-mountain, .contact-wave {
      width: 1000px;
      left: calc(50% - 500px);
    }
  }

  .m-works-b-tree {
    display: block;
    max-width: 280px;
    margin: 0 auto;
    position: relative;
    bottom: -30px;
    opacity: 0.6;
  }

  .section-contant-container {
    padding-bottom: 4rem;
  }

  .tabs {
    margin-bottom: 2.8rem;
  }

  .tab-content {
    margin-bottom: 0;
  }

  .loadMore {
    margin: 1rem auto 2rem auto;
  }

  .worksPages-left-img, .worksPages-right-img {
    display: none;
  }

  .worksPages-nav {
    ul {
      li {
        &::after {
          width: 10px;
        }
      }
    }
  }

  .worksPages-text-wrapper {
    padding: 1.5rem 1rem 4rem 1rem;
  }

  .worksPages-animal {
    .worksPages-animal-img {
      width: 12rem;
    }
  }

  .worksPages-bird-box {
    .worksPages-bird-img {
      width: 1.6rem;
    }
  }

  .worksPages-contant {
    padding: 1.6rem;
  }

  .worksPages-mountain-wrapper {
    margin-top: 0rem;

    .works-mountain-box {
      height: 80px;
    }
  }

  /* contact */
  .contact-contant-wrapper {
    padding: 1.2rem 0;
  }

  .contact-contant-box {
    max-width: 70%;

    .contant-box {
      .my-contact-box {
        ul {
          li {
            a {
              font-size: 15px;
              letter-spacing: 0.5px;
            }
          }
        }
      }
    }
  }

  .m-contact-FishsTurtleMedusa-box {
    bottom: 2rem;

    ul {
      li {
        .m-contact-fishs-img {
          width: 2rem;
        }

        .m-contact-TurtleMedusa-img {
          img {
            width: 3rem;
            padding-bottom: 0.2rem;
          }
        }
      }
    }
  }

  .contact-sea-wrapper {
    padding-top: 2.8rem;

    .contact-sea-box {
      width: 80%;
    }
  }

  .contact-copyright {
    padding: 0 0 6rem 0;
  }

  .contact-FishsIslands-box {
    .contact-islands-box {
      .contact-islands {
        .contact-islands-about, .contact-islands-work {
          &.contact-islands-work {
            margin-top: -20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .menu-contant-box {
    .menu-text {
      ul {
        li {
          h5 {
            span {
              font-size: 30px;
            }
          }
        }
      }
    }
  }

  /* home */
  .big-title-box {
    img {
      max-width: 170px;
    }
  }

  .home-city-box {
    height: 200px;

    .home-bluecity, .home-city, .about-city, .about-cloud, .about-bcity, .skills-seabed, .skills-seasand, .skills-coral, .works-mountain, .works-b-tree, .contact-wave {
      width: 1000px;
      left: calc(50% - 580px);
    }
  }

  .home-road-box {
    .home-ZebraRoad {
      width: 200px;
    }
  }

  .menu-icon-wrapper {
    .menu-icon {
      width: 42px;
      height: 42px;

      img {
        padding: 12px 10px;
      }
    }
  }

  .logo-wrapper {
    a {
      width: 128px;
      height: 58px;

      img {
        padding: 4px 12px 0px 12px;
      }
    }
  }

  /* about */
  .about-contant-box {
    margin: 2.4rem 1rem 0rem 1rem;

    .about-img {
      width: 12rem;
    }
  }

  /* skills */
  .skills-design-box, .skills-code-box {
    flex-wrap: wrap;

    .skills-design-text, .skills-code-text {
      h3 {
        text-align: center;

        &::before {
          display: none;
          padding-left: 0;
        }
      }

      .design-text, .code-text {
        padding-left: 0;
      }
    }
  }

  /* works */
  .worksPages-text-wrapper {
    padding: 1.5rem 0;
  }

  /* contact */
  .contact-contant-wrapper {
    padding: 1rem 0;
  }

  .contact-contant-box {
    .contact-myhitballoon {
      max-width: 3.6rem;
    }
  }

  .contact-sea-wrapper {
    .contact-sea-box {
      margin-bottom: 2rem;
    }
  }

  .m-contact-FishsTurtleMedusa-box {
    bottom: -1rem;
  }

  .title-box {
    .title-img {
      &.title-img-c {
        max-width: 8rem;
        width: 8rem;
      }
    }
  }

  .contact-FishsIslands-box {
    .contact-islands-box {
      .contact-islands {
        height: 7.6rem;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .title-box {
    .title-text {
      h4 {
        font-size: $h6;
      }
    }

    .title-img {
      max-width: 6.6rem;
      width: 6.6rem;
    }
  }

  /* home */
  .home-day-box, .home-night-box {
    height: 200px;
  }

  .home-city-box {
    height: 180px;
  }

  .home-my-box {
    width: 4.6rem;
    top: calc(50% - 6.8rem);
  }

  /* about */
  .about-contant-box {
    margin: 2.4rem 0 0 0;
  }

  .about-AirCamera-box {
    .about-AirCamera-img {
      width: 8.4rem;
    }
  }

  .about-my-box {
    .about-my-img {
      width: 6.8rem;
    }
  }

  .about-contant-box {
    .about-img {
      width: 11rem;
    }
  }

  /* skills */
  .skills-contant-box {
    padding: 0;
  }

  .skills-sea-box {
    .skills-my-box {
      .skills-my-img {
        width: 5.8rem;
      }
    }
  }

  .skills-tortoise-box {
    img {
      width: 5rem;
    }
  }

  /* works */
  .tabs {
    a {
      font-size: 16px;
      padding: 0.3rem 0.8rem;
    }
  }

  .tab-wrapper {
    padding: 0;
  }

  .works-mountain-wrapper {
    .works-mountain-box {
      height: 196px;

      .works-my-box {
        .works-my-img {
          width: 3rem;
        }
      }
    }
  }

  .m-works-b-tree {
    max-width: 220px;
  }

  .worksPages-contant {
    padding: 1.2rem;
  }

  .worksPages-mountain-wrapper {
    .works-mountain-box {
      height: 90px;
    }
  }

  .worksPages-title-wrapper {
    .title-box {
      .title-text {
        h4 {
          &::before {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }

  /* contact */
  .contact-contant-wrapper {
    padding: 1.2rem 0 2rem 0;
  }

  .contact-contant-box {
    max-width: 80%;

    .contact-myhitballoon {
      max-width: 3rem;
    }
  }

  .contact-sea-wrapper {
    padding-top: 0rem;

    .contact-sea-box {
      margin-bottom: 0;
    }
  }

  .contact-contant-box {
    .contant-box {
      padding: 0.5rem;
    }
  }

  .m-contact-FishsTurtleMedusa-box {
    bottom: 0;
  }
}
