// pc font size
$h1: 48px;
$h2: 36px;
$h3: 28px;
$h4: 24px;
$h5: 20px;
$h6: 18px;
$l-p: 18px;
$s-p: 14px;

// m font size
$mobile-l-title: 34px;
$mobile-s-title: 17px;
$mobile-l-p: 16px;
$mobile-s-p: 13px;

// color
$white: #ffffff;
$gray: #E3E3E3;
$black: #000000;
$day: #7DAFD4;
$night: #3A64A1;
$brown: #4D3224;
$green: #94C28B;
$yellow: #F5E69A;
